<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RileyCreates.com</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
  {{{body}}}
  <footer class="footer">
    <div class="author-details">
      <p>Author: Mubariz Saeed</p>
      <p>Email: <a href="mailto:mubariz_saeed@uri.edu">mubariz_saeed@uri.edu</a></p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\\/script>')</script>
  <script src="js/load-images.js"></script>
  <script src="js/toggle.js"></script>
  <script src="js/search.js"></script>
  <script src="js/expand.js"></script>
  <script src="js/ToggleSound.js"></script>
  <script>
    function toggleMobileNavigation() {
      var navigation = document.querySelector('.navigation');
      if (navigation.style.display === 'none' || navigation.style.display === '') {
        navigation.style.display = 'flex';
      } else {
        navigation.style.display = 'none';
      }
    }
  </script>
</body>
</html>