<div class="header-text-container">
    <div class="animated-text"></div>
</div>
<div class="content">
    <div class="about-me-container">
        <img src="/images/rileyaboutme.jpg" alt="Riley about me" class="about-me-image fade">
        <p>Welcome to RileyCreates! My name is Riley, and I'm passionate about creating art. I am also a psychology major, deeply interested in understanding human behavior and creativity.</p>
    </div>
</div>
<script src="/js/aboutAnimation.js"></script>
