<div id="join-message-container"></div>
<form id="authForm">
    <!-- form fields -->
</form>
<div id="result"></div>
<script src="/js/login.js"></script>
<script src="/js/load-join-message.js"></script>
